* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7 {
    height: 400px;
    width: 100%;
}

.b1 {
    background-image: url("assets/img/bg-callout.jpg");
    height: 680px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.b1 h1 {
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b1 button {
    height: 50px;
    width: 150px;
    margin-left: 690px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b1 button:hover {
    background-color: whitesmoke;
    color: black;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.b2 {
    height: 300px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
}

.b2 h2 {
    font-size: 50px;
}

.b2 button {
    height: 50px;
    width: 150px;
    margin-left: 685px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b2 button:hover {
    background-color: gainsboro;
    color: black;
}

.b3 {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: #1678a2;
    height: 500px;
}

.b3 p {
    margin-top: 100px;
    color: yellow;
    font-size: 20px
}

.b3 h1 {
    color: white;
    font-size: 50px;
}

.kotak {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.o {
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
}

.o h2 {
    position: absolute;
    color: white;
    padding-top: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 128px;
}

.desk p {
    display: flex;
    position: absolute;
    color: white;
    top: 70px;
    left: 75px;
}

.desk2 p {
    display: flex;
    position: absolute;
    color: white;
    top: 70px;
    left: 450px;
}

.tulisan h2 {
    position: absolute;
    color: white;
    padding-top: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 505px;
}

.tulisan2 h2 {
    position: absolute;
    color: white;
    padding-top: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 895px;
}

.tulisan3 h2 {
    position: absolute;
    color: white;
    padding-top: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 505px;
}

.desk3 p {
    display: flex;
    position: absolute;
    color: white;
    top: 70px;
    left: 830px;
}

.tulisan4 h2 {
    position: absolute;
    color: white;
    padding-top: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 1280px;
}

.desk4 p {
    display: flex;
    position: absolute;
    color: white;
    top: 70px;
    left: 1220px;
}

.b4 {
    background-image: url("assets/img/bg-callout.jpg");
    height: 700px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.b4 h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b4 button {
    height: 60px;
    width: 140px;
    margin-left: 43rem;
    margin-top: 3rem;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b4 button:hover {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;

}

.b5 {
    position: relative;
    height: 1200px;
    display: block;
    align-content: center;
    margin: auto;
    text-align: center;
}

.porto strong {
    margin-bottom: 30px;
    color: yellow;
}

.rp h1 {
    font-size: 2rem;
    margin-top: 10px;
}

.container-img {
    margin-top: 50px;
    display: flex;
    gap: 0px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.g-1 {
    background-image: url("assets/img/portfolio-1.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
}

.g-2:hover {
    height: 390px;
    width: 390px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all ease-in-out 250ms;
    filter: grayscale(10);
}

.g-4:hover {
    height: 390px;
    width: 390px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease-in-out 250ms;
    filter: grayscale(10);
}

.g-3:hover {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all ease-in-out 250ms;
    height: 390px;
    width: 390px;
    filter: grayscale(10);
}
.g-1:hover {
    height: 390px;
    width: 390px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all ease-in-out 250ms;
    filter: grayscale(10);
}
.g-2 {
    background-image: url("assets/img/portfolio-2.jpg");
    width: 400px;
    height: 400px;
    background-size: cover;
}
.g-3 {
    background-image: url("assets/img/portfolio-3.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
}
.g-4 {
    background-image: url("assets/img/portfolio-4.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
}
.text-img {
    margin-top: 16rem;
    margin-left: 20px;
    color: white;
    font-weight: lighter;
    text-align: left;
}
.b6 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    background-color: #1678a2;
}
.b6 p {
    font-size: 40px;
    color: white;
}

.tombol {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 20px;
}
.tombol1 button {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(1, 1, 221);
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tombol2 button {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    background-color: gray;
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tombol1 button:hover {
    background-color: whitesmoke;
    color: black;
}
.tombol2 button:hover {
    background-color: whitesm;
    color: black;
}
.b7 {
    height: 600px;
    position: relative;
}
.b7 img {
    height: 600px;
    width: 900px;
    margin-right: 10px;
}
.isipentol {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.pentol {
    width: 50px;
    height: 50px;
    border-radius: 100px;   
    background: #1678a2;
}
.b8 {
    text-align: center;
    margin-top:50px;
}

