.catur{
    background-color: blanchedalmond;
    display: flex;
    border: 3px solid black;
    margin: 100px 348px 0px 0px;
}

.container{
    padding-left: 350px;
}

.kotak {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hitam {
    background-color: burlywood;
}

img {
    width: 80px ;
    height: 80px;
}